{% load static %}
{% load humanize %}

<div class="col-lg-3 col-md-6 col-sm-12">
    <div class="card h-100 border-0 position-relative">
        {% include 'web/includes/producto-tag.html' with producto=producto %}
        <a class="card-block stretched-link text-decoration-none" href="{% url 'detalle-producto' producto.pk %}"></a>
        <img class="card-img-top" src="{{ producto.portada.url }}" alt="">
        <div class="card-body">
            <div class="container text-center">
                <div class="row">
                    <span class="card-title text-secondary">{{ producto.editorial.nombre }}</span>
                </div>
                <div class="row">
                    <h5 class="card-title">{{ producto.titulo_es }}</h5>
                </div>
                <div class="row">
                    <h4><strong>${{ producto.precio | intcomma }}</strong></h4>
                </div>
                {% if esta_en_oferta %}
                <div class="row">
                    <span class="text-secondary"><s>{{ precio_sin_oferta }}</s></span>
                </div>
                {% endif %}
                <div class="row justify-content-center">
                    <div class="col-3 p-2">
                        <button type="button" onclick="agregarProducto({{ producto.pk }})" class="btn btn-warning">
                            <i class="fa-solid fa-cart-plus"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    agregarProducto = (id) => {
        $.post('{% url "ajax-agregar-producto-carrito" %}', {pk: id, csrfmiddlewaretoken: '{{ csrf_token }}'},
            (_) => {
                location.href = ('{% url "ver-carrito" %}')
            })
    }
</script>
