<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" 
    href="static/css/estilos.css">
    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="icon" type="image/png" href="static/img/manga.png">
    <title>Arte manga</title>
</head>
<body>
    <header class="main-header">
    <div class="container container--flex">
        <div class="main-header__container">
        <h1 class="main-header__title">Arte Manga</h1>
        <span class="icon-menu fa-solid fa-bars" id="btn-menu"></span>
        <nav class="main-nav" id="main-nav">
        <ul class="menu">
            <li class="menu__item"><a href="" class="menu">INICIO</a></li>
            <li class="menu__item"><a href="" class="menu">ABOUT</a></li>
            <li class="menu__item"><a href="" class="menu">CATALOGO</a></li>
            <li class="menu__item"><a href="" class="menu">TIENDA</a></li>
            <li class="menu__item"><a href="" class="menu">CONTACTO</a></li>
        </ul>
    </nav>
    </div>
    <div class="main-header__container">
        <span class="main-header__txt"><i class="fa-solid fa-circle-question"></i>  ¿Necesitas ayuda?</span>
        <p class="main-header__txt"><i class="fa-solid fa-phone"></i>  Contactanos</p>
    </div>
    <div class="main-header__container">
        <i class="fa-solid fa-user"></i>
        <a href="" class="main-header__btn">Carrito <i class="fa-solid fa-cart-shopping"></i></a>
        <input type="search" class="main-header__input" placeholder="Buscar productos"><i class="fa-solid fa-magnifying-glass"></i>
    </div>
</div>
</header>

<div class="container-slider">
    <div class="slider" id="slider">
        <div class="slider__section">
            <img src="static/img/1.png" alt="" class="slider__img">
        </div>
        <div class="slider__section">
            <img src="static/img/2.png" alt="" class="slider__img">
        </div>
        <div class="slider__section">
            <img src="static/img/3.png" alt="" class="slider__img">
        </div>
        <div class="slider__section">
            <img src="static/img/4.png" alt="" class="slider__img">
        </div>
    </div>
    <div class="slider__btn slider__btn--right" id="btn-right">&#62;</div>
    <div class="slider__btn slider__btn--left" id="btn-left">&#60;</div>
</div>

<main class="main">
    <div class="container">
    <h2 class="main-title">Recien llegados</h2>
    <section class="container-products">
        <div class="product">
            <img src="static/img/century1.jpg" alt="" class="product__img">
            <div class="product__description">
                <h3 class="product__title">20CenturyBoys 01</h3>
                <span class="product__price">$18.000</span>
                <a href="producto.html" class="btn-shop">Compra ya</a>
            </div>
            <i class="product__icon fa-solid fa-cart-plus"></i>
        </div>
        <div class="product">
            <img src="static/img/goblin1.jpg" alt="" class="product__img">
            <div class="product__description">
                <h3 class="product__title">Goblin Slayer 01</h3>
                <span class="product__price">$10.000</span>
                <a href="" class="btn-shop">Compra ya</a>
            </div>
            <i class="product__icon fa-solid fa-cart-plus"></i>
        </div>
        <div class="product">
            <img src="static/img/slam1.jpg" alt="" class="product__img">
            <div class="product__description">
                <h3 class="product__title">Slam Dunk 01</h3>
                <span class="product__price">$15.000</span>
                <a href="" class="btn-shop">Compra ya</a>
            </div>
            <i class="product__icon fa-solid fa-cart-plus"></i>
        </div>
        <div class="product">
            <img src="static/img/sunken1.jpg" alt="" class="product__img">
            <div class="product__description">
                <h3 class="product__title">Sun-Ken ROCK 01</h3>
                <span class="product__price">$15.000</span>
                <a href="" class="btn-shop">Compra ya</a>
            </div>
            <i class="product__icon fa-solid fa-cart-plus"></i>
        </div>
    </section>
</div>

<!-- editoriales -->

<div class="container-editor">
    <div class="editor__item"><img src="static/img/norma.jpg" alt="" class="editor__img">
        <p class="editor__circle">Revisa el stock</p>
    </div>
    
    <div class="editor__item"><img src="static/img/ivrea.jpg" alt="" class="editor__img">
        <p class="editor__circle">Revisa el stock</p>
    </div>
    
</div>
        

<section class="container-tips">
    <div class="tip">
        <i class="fa-solid fa-hand"></i>
        <h2 class="tip__title">Garantía de productos</h2>
        <div class="tip__txt">Deja tus productos en nuestras manos</div>
        <a href="" class="btn-shop">Compra ya</a>
    </div>
    <div class="tip">
        <i class="fa-solid fa-truck"></i>
        <h2 class="tip__title">Envios a todo Chile</h2>
        <div class="tip__txt">Envios todos los días</div>
        <a href="" class="btn-shop">Horarios</a>
    </div>
    <div class="tip">
        <i class="fa-solid fa-gear"></i>
        <h2 class="tip__title">Consultanos</h2>
        <div class="tip__txt">Tienes un problema?</div>
        <a href="" class="btn-shop">Contactanos</a>
    </div>
</section>

</main>

    <footer class="main-footer">
        <div class="footer__section">
            <h2 class="footer__title">Sobre nosotros</h2>
            <p class="footer__txt">Somos una tienda 100% online dedicada a los Mangas,
                                 optamos por un gran catalogo de editoriales Españolas, Argentinas
                                 y a futuro poder conseguir editoriales mexicanas y japonesas.
                                 Nuestra misión es que nuestros clientes se sientan en una plataforma cómoda
                                 para poder comprar sus ejemplares, 
                                 dedicamos mucho cariño a nuestra pagina web de Arte Manga!</p>
        </div>
        <div class="footer__section">
            <h2 class="footer__title">Encuentranos</h2>
            <p class="footer__txt">Hernan Diaz Arrieta #4113, Maipú</p>
            <h2 class="footer__title">Contacto</h2>
            <p class="footer__txt">Número: +569 352 660 88</p>
            <p class="footer__txt">Email: Contacto.artemanga@gmail.com</p>
        </div>
        <div class="footer__section">
            <h2 class="footer__title">Enlaces Rapidos</h2>
            <a href="" class="footer__link">Inicio</a>
            <a href="" class="footer__link">About</a>
            <a href="" class="footer__link">Catolago</a>
            <a href="" class="footer__link">Tienda</a>
            <a href="" class="footer__link">Contacto</a>
        </div>
        <div class="footer__section">
            <h2 class="footer__title">Suscribete para nuevas ofertas!</h2>
            <p class="footer__txt">Ingresa tu email para recibir todas las novedades</p>
            <input type="email" class="footer__input" placeholder="Ingresa tu email">
        </div>
        <p class="copy">© 2022 Arte Manga. Todos los derechos reservados | Design by</p>
    </footer>

<script src="static/js/slider.js"></script>
<script src="static/js/menu.js"></script>
    
</body>
</html>