<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Producto</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/estilos.css">
    <link rel="icon" type="image/png" href="static/img/manga.png">
</head>
<body> 

    <!--Menu responsive-->

    <nav class="navbar navbar-expand-lg navbar navbar-light" style="background-color: #e3f2fd;">
        <a class="navbar-brand" href="catalogo.html">
          <img src="static/img/manga.png"   width="70" height="50" >
          </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="catalogo.html">Inicio<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Productos</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
                Editoriales
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Ivrea Argentina</a>
                <a class="dropdown-item" href="#">Norma</a>
                <a class="dropdown-item" href="#">Ivrea España</a>
                <a class="dropdown-item" href="#">Panini</a>
                <a class="dropdown-item" href="#">Ecc</a>
                <a class="dropdown-item" href="#">Tomodomo</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Todas las editoriales</a>
              </div>
              <li class="nav-item">
                <a class="nav-link" href="#">Contactanos</a>
              </li>
            </li>
            
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0"   type="submit" ><i class="fa-solid fa-magnifying-glass"></i></button >
          </form>
        </div>
      </nav>



      <div class="album py-5 bg-light">
        <div class="container">
    
          <div class="row">
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img src="static/img/century1.jpg">
                <div class="card-body">
                  <h5 class="card-title">20Century Boys 01</h5>
                  <p></p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a></a>
                    </div>
                    <a ></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                
                <div class="card-body">
                  <h2 class="card-title">20th Century Boys 01</h2>
                  <p class="card-text">$20.000</p>
                  <p>20th Century Boys es, ante todo, un descarnado análisis de la sociedad japonesa y la alienación del individuo. 
                      Un seinen que mezcla ciencia ficción con misterio y slice-of-life. Historia, conspiraciones, 
                      la influencia de la ficción en la vida real,
                       metaficción y un rompecabezas grande como la vida misma; y que le espera a quien se anime a confrontar a Amigo.</p>
                       <h6>Editorial : Ivrea argentina</h6>
                       <h6>Autor     : Naoki Urasawa</h6>
                       <h6>Género    : Seinen-Misterio-Ciencia</h6>
                       <h6>Formato   : Tapa blanda, 14.8cm x 21cm</h6>
                  <div class="d-flex justify-content-between align-items-center">
                    
                    <a href="" class="btn btn-success">Comprar</a>    
                  </div>
                </div>
              </div>
            </div>
            
            
          </div>
        </div>
      </div>


       <!--Footer -->
        
       <footer class="bg-dark text-white pt-5 pb-4">

        <div class="container text-center text-md-left">
          <div class="row text-center text-md-left">
            <div  class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
              <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Arte Manga</h5>
              <p>Somos una tienda 100% online dedicada a los Mangas,
                optamos por un gran catálogo de editoriales Españolas, Argentinas
                y a futuro poder conseguir editoriales mexicanas y japonesas.
                Nuestra misión es que nuestros clientes se sientan en una plataforma cómoda
                para poder comprar sus ejemplares, 
                dedicamos mucho cariño a nuestra pagina web de Arte Manga!</p>
            </div>

              <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                    <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Enlaces rapidos</h5>
                    <p>
                      <a href="catalogo.html" class="text-white" style="text-decoration: none;">Inicio</a>
                    </p>
                    <p>
                      <a href="#" class="text-white" style="text-decoration: none;">Quienes somos</a>
                      </p>
                    <p>
                      <a href="#" class="text-white" style="text-decoration: none;">Catálogo</a>
                    </p>
                    <p>
                      <a href="#" class="text-white" style="text-decoration: none;">Tienda</a>
                    </p>
                    <p>
                      <a href="#" class="text-white" style="text-decoration: none;">Contacto</a>
                    </p>

              </div>

              <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Contacto</h5>
                <p>
                  <i class="fas fa-home mr-3 " ></i>Hernan Diaz arrieta #4113,Maipú
                </p>
                <p>
                  <i class="fas fa-envelope mr-3 " ></i>Contacto.artemanga@gmail.com
                </p>
                <p>
                  <i class="fas fa-phone mr-3 " ></i>+569 35266089
                </p>  
              </div>

          </div>

           <hr class="mb-4 ">
           <div class="row align-items-center">
           <div class="col-md-7 col-lg-8">© 2022 Arte Manga. Todos los derechos reservados
           </div>

           <div class="col-md-5 col-lg-4">
             <div class="text-center text-md-right">

               <ul class="list-unstyled list-inline">
                 <li class="list-inline-item">
                   <a href="#" class="btn-floating btn-sm text-white" style="font-size: 23px;">
                  <i class="fab fa-facebook"></i></a>
                 </li>
                 <li class="list-inline-item">
                  <a href="#" class="btn-floating btn-sm text-white" style="font-size: 23px;">
                 <i class="fab fa-twitter"></i></a>
                </li>
                <li class="list-inline-item">
                  <a href="#" class="btn-floating btn-sm text-white" style="font-size: 23px;">
                 <i class="fab fa-instagram"></i></a>
                </li>
               </ul>

             </div>

           </div>

        </div>

      </footer>





  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>

</body>
</html>