{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
{% block title %}{% endblock %}

{% block content %}

    {% if validlink %}
        <p>Ingresa tu nueva contraseña y confirmala.</p>
        <form action="" method="post">
            <div style="display:none">
                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            </div>
            <table>
                <tr>
                    <td>{{ form.new_password1.errors }}
                        <label for="id_new_password1">Nueva contraseña:</label></td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password2.errors }}
                        <label for="id_new_password2">Confirma contraseña:</label></td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Cambiar mi contraseña"/></td>
                </tr>
            </table>
        </form>
    {% else %}
        <h1>Error al intentar cambiar la contraseña</h1>
        <p>El link de recuperar la contraseña es inválido, probablemente ya ha sido usado. Solicita un nuevo reinicio de
            contraseña</p>
    {% endif %}

{% endblock %}
