{% extends 'web/base.html' %}
{% load crispy_forms_filters %}
{% block title %}{% endblock %}

{% block contenido %}

    {% if validlink %}
        <p>Ingresa tu nueva contraseña y confírmala.</p>
        <form action="" method="post">
            <div style="display:none">
                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            </div>
            <table>
                {{ form | crispy }}
                <div>
                    <input class="btn btn-success" type="submit" value="Ingresar"/>
                    <input type="hidden" name="next" value="{{ next }}"/>
                </div>
            </table>
        </form>
    {% else %}
        <h1>Error al intentar cambiar la contraseña</h1>
        <p>El link de recuperar la contraseña es inválido, probablemente ya ha sido usado. Solicita un nuevo reinicio de
            contraseña</p>
    {% endif %}

{% endblock %}
