{% extends 'administración/base.html' %}
{% load crispy_forms_filters %}

{% block contenido %}

    <div class="card">
        <div class="card-header">
            Confirmación
        </div>
        <div class="card-body">
            <h5 class="card-title">¿Está seguro que quiere eliminar?</h5>
            <p class="card-text">El contenido "{{ object }}" será eliminado para siempre</p>
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" value="Confirmar">
            </form>
        </div>
    </div>
{% endblock %}