{% extends "CRUD/_listado_base.html" %}

{% block titulo %}Listado Productos{% endblock %}

{% block cabeceras %}
    <th>PK</th>
    <th>ISBN</th>
    <th>Título Esp</th>
    <th>Título Jap</th>
    <th>Autor</th>
    <th>Stock</th>
    <th>Precio</th>
    <th>Precio sin IVA</th>
    <th>Acciones</th>
{% endblock %}

{% block filas %}
    {% for item in object_list %}
        <tr>
            <td>{{ item.pk }}</td>
            <td>{{ item.isbn }}</td>
            <td>{{ item.titulo_es }}</td>
            <td>{{ item.titulo_jp }}</td>
            <td>{{ item.autor }}</td>
            <td>{{ item.stock }}</td>
            <td>{{ item.precio }}</td>
            <td>{{ item.precio_sin_iva }}</td>
            {% include 'CRUD/accion_botones.html' with pk=item.pk %}
        </tr>
    {% endfor %}

{% endblock %}