{% extends 'web/base.html' %}
{% load static %}
{% block contenido %}
    <div class="container mb-4">
        {% if not productos %}
            <div class="row d-flex justify-content-center text-center">
                <div class="col-6">
                    <p>No se encontraron productos con este filtro.</p>
                    <p>¿Por qué no pruebas otro?</p>
                </div>
                <div class="col-6">
                    <div class="card">
                        <img src="{% static 'img/holder.jpg' %}" alt="¿Dónde están los productos?">
                    </div>
                </div>
            </div>
        {% else %}
            <div class="row">
                <h1>Productos de {{ filtro_desc }}: {{ filtro }}</h1>
                <hr>
            </div>
            <div class="row">
                {% for producto in productos %}
                    {% include 'web/includes/card-producto.html' with producto=producto %}
                {% endfor %}
            </div>
        {% endif %}
        {% include 'común/includes/paginación.html' %}
    </div>

{% include 'web/includes/js-snippets/sombra-cards.html' %}
{% endblock %}