{% extends 'administración/base.html' %}

{% load crispy_forms_filters %}

{% block contenido %}
    <div class="card">
        <div class="card-body">
            <h3>{{ titulo_pagina }} {{ nombre }}</h3>
            <form role="form" method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" name="submit" value="Guardar" class="submit submitButton" />
                <input type="reset" name="submit" value="Limpiar" class="submit submitButton" />
            </form>
        </div>
    </div>
{% endblock %}