{% extends "administración/CRUD/_listado_base.html" %}

{% block titulo %}Listado Autores{% endblock %}

{% block cabeceras %}
    <th>ID</th>
    <th>Nombre</th>
    <th>País</th>
    <th>Acciones</th>
{% endblock %}

{% block filas %}
    {% for item in object_list %}
        <tr>
            <td>{{ item.id }}</td>
            <td>{{ item.nombre }}</td>
            <td>{{ item.pais }}</td>
            {% include 'administración/CRUD/accion_botones.html' with pk=item.pk %}
        </tr>
    {% endfor %}

{% endblock %}