{% extends 'web/base.html' %}
{% load crispy_forms_filters %}
{% block title %}{% endblock %}

{% block titulo %}{{ titulo_pagina }}{% endblock %}
{% block contenido %}
    <div class="card-deck">
        <div class="row">
            <a class="btn btn-success btn-lg btn-block" href="{% url 'crear-direccion' %}?next=ver-direccion">Crea tu nueva dirección</a>
        </div>
        <br>
        <div class="row">
            {% for direccion in direcciones %}
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card border-dark h-100">
                        <div class="card-body">
                            <h5 class="card-title text-center"><strong> {{ direccion.calle.upper }}
                                # {{ direccion.numero }} </strong></h5>
                            <p class="card-text text-center">
                                {% if direccion.departamento is not none and direccion.piso is not none %}
                                    <strong>Departamento:</strong> {{ direccion.departamento }} <br>
                                    <strong>Piso:</strong>{{ direccion.piso }}<br>
                                {% endif %}
                                <strong>Código postal:</strong> {{ direccion.codigo_postal }} <br>
                                <strong>Teléfono:</strong> {{ direccion.telefono }} <br>
                                <strong>Comuna:</strong> {{ direccion.comuna }} <br>
                                <strong>Provincia:</strong> {{ direccion.provincia }} <br>
                                <strong>Región:</strong> {{ direccion.region }} <br>
                            </p>
                        </div>
                         <div class="card-footer text-center">  {% include 'administración/CRUD/includes/accion_botones.html' with pk=direccion.id editar=tabla_boton_editar eliminar=tabla_boton_eliminar %}</div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}