{% extends 'web/base.html' %}
{% load crispy_forms_filters %}
{% block title %}{% endblock %}
{% load static %}

{% block titulo %}{{ titulo_pagina }}{% endblock %}
{% block contenido %}
    <div class="card-deck">
        <div class="row">
            {% if ventas.exists %}
                {% for venta in ventas %}
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="card border-dark h-100">
                            <div class="card-header text-center"><h5><strong># {{ venta.id }} </strong></h5></div>
                            <div class="card-body">
                                <p class="card-text text-center">
                                    <strong>Total:</strong> $ {{ venta.total_humanizado }} <br>

                                    {% if venta.estado_venta != 'APROBADA' %}
                                        <strong>Estado de la venta:</strong> {{ venta.estado_venta }} <br>
                                    {% endif %}

                                    {% if venta.estado_venta == 'APROBADA' and venta.codigo_seguimiento %}
                                        <strong>Número de seguimiento:</strong> {{ venta.codigo_seguimiento }} <br>
                                        <strong>Estado del despacho:</strong> {{ venta.despacho.estado_despacho }} <br>
                                    {% endif %}

                                    {% for compra in compras %}
                                        {% if compra.venta_id == venta.id %}
                                            <strong>Manga:</strong> {{ compra.producto }} <br>
                                            <strong>Cantidad:</strong> {{ compra.cantidad }} <br>
                                        {% endif %}
                                    {% endfor %}
                                    <strong>Fecha de la venta:</strong> {{ venta.fecha_venta }} <br>
                                </p>
                            </div>
                            {% if venta.estado_venta == 'APROBADA' and venta.boleta %}
                                <a href="{{ venta.boleta.url }}" target="_blank" class="btn btn-primary">
                                    <i class="fas fa-file-pdf"></i>
                                    Boleta
                                </a>
                                <div class="card-footer">
                                    <small class="text-muted"> Su pedido será enviado
                                        a {{ venta.despacho.direccion }}</small>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="card-deck">
                    <div class="card">
                        <img class="card-img-top" src="{% static 'img/anime-cry.gif' %}" alt="No tienes ventas">
                        <div class="card-body">
                            <h2 class="card-title text-center">No tienes ninguna compra (；へ：）</h2>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}