{% extends 'común/base.html' %}

{% block navbar %}
<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <div class="container-fluid">
        <a href="#" class="navbar-brand">Administración</a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navbarCollapse" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="nav-item">
                    <a href="{% url 'inventario-dashboard' %}" class="nav-link">Home</a>
                </li>

                {% if user.es_sysadmin or user.es_bodega %}
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Bodega</a>
                    <div class="dropdown-menu">
                        <a href="{% url 'listado-producto' %}" class="dropdown-item">Producto</a>
                        <a href="{% url 'listado-autor' %}" class="dropdown-item">Autor</a>
                        <a href="{% url 'listado-otro-autor' %}" class="dropdown-item">Otros Autores</a>
                        <a href="{% url 'listado-genero' %}" class="dropdown-item">Genero</a>
                        <a href="{% url 'listado-editorial' %}" class="dropdown-item">Editorial</a>
                        <a href="{% url 'listado-pais' %}" class="dropdown-item">Pais</a>
                    </div>
                </li>
                {% endif %}

                {% if user.es_sysadmin or user.es_ventas %}
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Ventas</a>
                    <div class="dropdown-menu">
                        <a href="{% url 'ventas-listado-productos' %}" class="dropdown-item">Productos</a>
                        <a href="{% url 'ventas-validar' %}" class="dropdown-item">Por validar</a>
                         <a href="{% url 'venta-validada' %}" class="dropdown-item">Validadas</a>
                    </div>
                </li>
                {% endif %}

                {% if user.es_sysadmin or user.es_ventas or user.es_bodega %}
                <li class="nav-item">
                    <a href="#" class="nav-link">Reportes</a>
                </li>
                {% endif %}
            </ul>

            <ul class="nav navbar-nav ms-auto">
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">{{ user.username }}</a>
                    <div class="dropdown-menu dropdown-menu-end">
                        <a href="{% url 'logout' %}" class="dropdown-item">Salir</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
{% endblock %}