{% extends 'administración/base.html' %}

{% block titulo %}Administrar productos{% endblock %}
{% block contenido %}
    <div class="container">
        <div class="row">
            <div class="container">
                <div class="card">
                    <div class="card-body">
                        Se presentan todos las ventas, ordenadas por la fecha de la venta, de
                        forma ascendente.
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Total</th>
                                    <th>Fecha de la venta</th>
                                    <th>Imagen del deposito</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for venta in ventas %}
                                    <tr>
                                        <td>{{ venta.pk }}</td>
                                        <td>{{ venta.total }}</td>
                                        <td>{{ venta.fecha_venta }}</td>
                                        <td>
                                            <img src="{{ venta.imagen_deposito }}" alt="{{ venta.imagen_deposito }}"
                                                 width="200px" height="200px">
                                        </td>
                                        <td style="text-align: center;">
                                            <a href="{% url 'venta-validar-producto' venta.pk %}" class="btn btn-outline-primary">
                                                <i class="fa fa-search"></i>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            {% include 'común/includes/paginación.html' %}

        </div>
    </div>
{% endblock %}
