{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <div class="alert {{ message.tags }} alert-dismissible shadow fade show" role="alert">
                <strong>
                    {% if  message.level == DEFAULT_MESSAGE_LEVELS.ERROR %} ¡Oh, no! {% endif %}
                    {% if  message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %} ¡Qué bien! {% endif %}
                    {% if  message.level == DEFAULT_MESSAGE_LEVELS.WARNING %} ¡Atención! {% endif %}
                </strong>
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    </ul>
{% endif %}