{% extends "./plantilla.html" %}

{% block body %}

    <table class="table table-dark">
    <button type="button" class="btn btn-primary btn-lg btn-block">Crear {{titulo}}</button>
        <tr>
            {% for nombre in cabeceras %}
                <th>{{ nombre }}</th>
            {% endfor %}
        </tr>
        {% for dato in filas %}
            <tr>
                {% for c in dato %}
                    <td>{{ c }}</td>
                {% endfor %}
                <td><button type="button" class="btn btn-warning">Modificar</button></td>
                <td><button type="button" class="btn btn-danger">Eliminar</button></td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}