{% extends 'web/base.html' %}
{% load crispy_forms_filters %}
{% block titulo %}Crear un ticket{% endblock %}
{% block contenido %}
    <div class="card">
        <div class="card-header">Crear un ticket</div>
        <div class="card-body">
            {% load static %}
            <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
            <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
            <form role="form" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ ticket_form | crispy}}
                {{ mensaje_form | crispy}}
                <input type="submit" name="submit" value="Guardar" class="submit submitButton" />
            </form>
        </div>
    </div>
{% endblock %}